body  {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}
form  {
    margin: 0 auto;
    width: 350px;
    padding: 14px;
    border: solid 2px #00a2ff;
    background-color: #ebf4fb;
}

input  {
    font-size: 12px;
    padding: 4px 2px;
    border: solid 1px #aacfe4;
    width: 250px;
    margin: 2px 0 20px 10px;
}

.inputgender  {
    width: 20px;
}

label  {
    font-weight: bold;
    text-align: right;
    width: 140px;
}

button  {
    width: 125px;
    height: 30px;
    line-height: 30px;
    background-color: #494040;
    color: #fff;
    font-weight: bold;
    margin-top: 10px;
    border: none;
}

button:hover  {
    background-color: #741e1e;
}

span  {
    color: #ff0000;
    font-weight: bold;
}